.fc-pager { margin: 5px;  }
	.fc-pager button { vertical-align: middle; }
	.fc-pager-custom-page { margin: 0 10px; line-height: 22px; vertical-align: middle; }
		.fc-pager-custom-page input { vertical-align: middle; }
	.fc-pager-current { width: 25px; }