.fc-workflow-block { margin: 20px 20px; }

.fc-workflow-add-inner { margin-top: 22px; }

.fc-workflow-connection-left { top: -50px; }
.fc-workflow-connection-right { top: -50px; }

.fc-workflow-iconblock-top .fc-workflow-iconblock-icon { top: 0; }